body {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 2.3rem;
  background-image: url(../images/notebook-paper.jpg);
  background-size: cover;
  min-width: 500px;
  color: #555555;
}
#welcome {
  margin: 0;
  font-size: 3rem;
}
.container {
  margin-top: 400px;
}
.guessHeader {
  padding-top: 3rem;
  width: 100%;
  text-align: center;
}
#guessPool {
  width: 15%;
  margin: auto;
}
.guessItem {
  width: 1rem;
  float: left;
  margin: 5px;
}
#loseBanner {
  z-index: 1;
  background: #c52300;
  color: white;
  position: absolute;
  opacity: 0;
  top: 40%;
  width: 100%;
  font-size: 3rem;
}
#winBanner {
  z-index: 1;
  position: absolute;
  background: #0e90ed;
  color: white;
  opacity: 0;
  top: 40%;
  width: 100%;
  font-size: 3rem;
}
#keyBlanks {
  width: 40%;
  margin: 0 40%;
}
.hiddenLetter {
  width: 1rem;
  float: left;
  margin: 5px;
}
#resetti {
  border: none;
  background: none;
  color: #555555;
  position: absolute;
}
#resetti:hover {
  color: #c52300;
  font-size: 2.5rem;
}

#scoreBoard {
  position: absolute;
  left: 80%;
  top: 95%;
}
.scoreItems {
  position: relative;
  right: -80px;
  bottom: 40px;
}
.hangGallows {
  position: absolute;
  width: 350px;
  height: auto;
  left: 35%;
}
.hangDraw {
  position: absolute;
  width: 350px;
  height: auto;
  left: 35%;
  opacity: 0;
}
