body {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 2.3rem;
  background-image: url(/assets/images/notebook-paper.jpg);
  background-size: cover;
  min-width: 425px;
}
#welcome {
  margin: 0;
}
.container {
  margin-top: 400px;
}
.guessHeader {
  padding-top: 3rem;
  width: 100%;
  text-align: center;
}
#guessPool {
  width: 30%;
  margin: auto;
}
img {
  width: 45%;
  max-width: 350px;
  height: auto;
}
.guessItem {
  width: 1rem;
  float: left;
  margin: 5px;
}
#loseBanner {
  z-index: 1;
  background: red;
  color: white;
  position: absolute;
  opacity: 0;
  top: 35%;
  width: 100%;
}
#winBanner {
  z-index: 1;
  position: absolute;
  opacity: 0;
  top: 20%;
  width: 100%;
}
#keyBlanks {
  width: 40%;
  position: absolute;
  left: 40%;
}
.hiddenLetter {
  width: 1rem;
  float: left;
  margin: 5px;
}
#scoreBoard {
  position: absolute;
  left: 10%;
  top: 180px;
}
.scoreItems {
  position: relative;
}
.hangGallows {
  position: absolute;
  width: 350px;
  height: auto;
  left: 35%;
}
.hangDraw {
  position: absolute;
  width: 350px;
  height: auto;
  left: 35%;
  opacity: 0;
}
