body {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 2.3rem;
}
#guessPool {
  max-width: 70%;
  margin: auto;
}
.guessItem {
  width: 1rem;
  float: left;
  margin: 5px;
}
